<div class="p-grid" >
  <div class="p-col-3 item-img">
    <img src="Card" [src]="product.picUrl">
  </div>
  <div class="p-col-9">
    <div class="p-grid">
        <div class="p-col-8">
          <app-product-item-info [product]="product"></app-product-item-info>
        </div>
        <div class="p-col-4">
          <p-button styleClass="ui-button-secondary" label="following" ></p-button>
        </div>
        <div class="p-col-4">
          <div i18n="@@label.per_piece" class="subscript">/piece</div>
        </div>
        <div class="p-col-8">
          <app-product-item-action-bar></app-product-item-action-bar>
        </div>
    </div>
  </div>
</div>
