<p-dataView [value]="products">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="p-grid">
        <div class="p-col-12 align-right" >
          <p-button label="Create Product" styleClass="ui-button-info" routerLink="/product"></p-button>
        </div>
        <div class="p-col-8">
          <p-dropdown [styleClass]="'sort-by'" [options]="sortOptions" [(ngModel)]="sortKey" (onChange)="onSortChange($event)"></p-dropdown>
        </div>
        <div class="p-col-4 align-right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-product pTemplate="listItem">
    <div class="p-col-12">
      <app-product-list-item [product]="product"></app-product-list-item>
    </div>
  </ng-template>
  <ng-template let-product pTemplate="gridItem">
    <div class="p-col-6">
      <app-product-grid-item [product]="product"></app-product-grid-item>
    </div>
  </ng-template>

</p-dataView>

