<ul>

  <li *ngFor="let product of products">{{product.name}}</li>
</ul>

<p-dataView [value]="products">
  <p-header>
    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
  </p-header>
  <ng-template let-product pTemplate="listItem">
    <div>
      {{product.id}}
    </div>
  </ng-template>
  <ng-template let-product pTemplate="gridItem">
    <div class="p-col-6">
      <p-card>
        <p-header>
          <img src="Card" [src]="product.picUrl">
        </p-header>
        <div>
          {{product.name}}
        </div>
        <div>
          {{product.price}}
        </div>

        <p-footer class="p-grid">

          <i class="pi pi-thumbs-up p-col-4"></i>
          <i class="pi pi-comment p-col-4"></i>
          <i class="pi pi-plus p-col-4"></i>
        </p-footer>
      </p-card>
    </div>
  </ng-template>

</p-dataView>
