<form [formGroup]="editorForm" (submit)="onSubmit(editorForm.value)">
  <div class="p-grid  ui-fluid">
    <div class="p-col-12">
      <h1 i18n="@@header.add_product">Add Product</h1>
    </div>
    <div class="p-col-12">
      <label for="name" i18n="@@label.product_name">Product name<app-required-input></app-required-input></label>
    </div>
    <div class="p-col-12">
      <input pInputText id="name" type="text" formControlName="name"
             autocomplete="off">
    </div>
    <div class="p-col-12">
      <label for="minPrice" i18n="@@label.fob_ref_price">Price (FOB Reference Price)</label>
    </div>
    <div class="p-col-2">
          <span class="ui-float-label">
            <input pInputText id="minPrice" type="number" formControlName="minPrice" autocomplete="off" min="0" #minInput>
            <label for="minPrice" i18n="@@label.min">Min</label>
          </span>
    </div>
    <div class="p-col-1">
      <span>to</span>
    </div>
    <div class="p-col-2">
          <span class="ui-float-label">
            <input pInputText id="maxPrice" type="number" formControlName="maxPrice" autocomplete="off" min="0">
            <label for="minPrice" i18n="@@label.max">Max</label>
          </span>
    </div>
    <div class="p-col-3">
      <p-dropdown [options]="currencyOptions" formControlName="currency" #ddCurrency></p-dropdown>
    </div>

    <div class="p-col-12">
      <label for="minQty" i18n="@@label.min_order_qty">Minimum Order Quantity (unit)</label>
    </div>
    <div class="p-col-5">
      <input pInputText id="minQty" type="number" formControlName="minQty" autocomplete="off" min="0">
    </div>
    <div class="p-col-3">
      <p-dropdown [options]="qtyUnitOptions" formControlName="minQtyUnit"></p-dropdown>
    </div>

    <div class="p-col-12">
      <label for="leadTime" i18n="@@label.lead_time">Lead-Time</label>
    </div>
    <div class="p-col-5">
      <input pInputText id="leadTime" type="number" formControlName="leadTime" autocomplete="off" min="0">
    </div>
    <div class="p-col-3">
      <p-dropdown [options]="timeUnitOptions" formControlName="leadTimeUnit"></p-dropdown>
    </div>

    <div class="p-col-12">
      <label for="leadTime" i18n="@@label.country_of_origin">Country of Origin</label>
    </div>
    <div class="p-col-8">
      <p-dropdown [options]="countriesOptions" filter="true" formControlName="countryOfOrigin" placeholder="-- select an option --">
      </p-dropdown>
    </div>

    <div class="p-col-12">
      <label for="color" i18n="@@label.colors">Colors</label>
    </div>

    <div class="p-col-12">
      <p-chips inputId="color" formControlName="color" i18n-placeholder="@@input.enter_available_colors" placeholder="Enter available colors"></p-chips>
    </div>

    <div class="p-col-12">
      <label for="size" i18n="@@label.sizes">Size</label>
    </div>
    <div class="p-col-12">
      <p-chips inputId="size" formControlName="size" i18n-placeholder="@@input.enter_available_sizes" placeholder="Enter available sizes"></p-chips>
    </div>

    <div class="p-col-12">
      <label for="material" i18n="@@label.material">Material</label>
    </div>
    <div class="p-col-12">
      <p-chips inputId="material" formControlName="material" i18n-placeholder="@@input.enter_available_material" placeholder="Enter available material"></p-chips>
    </div>

    <div class="p-col-12">
      <label for="sellingPoint" i18n="@@label.selling_points">Selling Points</label>
    </div>
    <div class="p-col-12">
      <p-chips inputId="sellingPoint" formControlName="sellingPoint" i18n-placeholder="@@input.enter_selling_points" placeholder="Enter selling points"></p-chips>
    </div>

    <div class="p-col-12">
      <label for="description" i18n="@@label.description">Description</label>
    </div>
    <div class="p-col-12">
      <textarea id="description" pInputTextarea autoResize="autoResize" formControlName="description"
                i18n-placeholder="input.description" placeholder="You can provide product details here e.g. Features, instructions…"></textarea>
    </div>

    <div class="p-col-12">
      <label for="images" i18n="@@label.images">Images (JPG and PNG only)</label>
    </div>
    <div class="p-col-12">
      <p-fileUpload chooseLabel="Add images" i18n-chooseLabel="@@label.button.add_images" accept=".jpg,.png"
                    customUpload="true" (uploadHandler)="uploader('photo',$event)" [auto]="true" multiple="multiple">
        <ng-template let-file pTemplate="file">
          <!--Intentionally hide this section, show in the content session instead. -->
        </ng-template>
        <ng-template pTemplate="content">
          <app-product-uploaded-file [files]="photo" *ngIf="photo.length"></app-product-uploaded-file>
        </ng-template>
      </p-fileUpload>
    </div>

    <div class="p-col-12">
        <hr/>
    </div>

    <div class="p-col-12">
      <label for="category" i18n="@@label.categories">Categories</label>
    </div>
    <div class="p-col-12">
      <p-multiSelect [options]="categoriesOptions" formControlName="category" maxSelectedLabels="8"
                     defaultLabel="Select categories" i18n-defaultLabel="@@input.select_categories"></p-multiSelect>
    </div>

    <div class="p-col-12">
      <label for="docs" i18n="@@label.supporting_documents">Supporting Documents</label>
    </div>
    <div class="p-col-12">
      <p-fileUpload chooseLabel="Add files" i18n-chooseLabel="@@label.button.add_files"
                    customUpload="true" (uploadHandler)="uploader('supportingDoc', $event)" [auto]="true" multiple="multiple">
        <ng-template let-file pTemplate="file">
        </ng-template>
        <ng-template pTemplate="content">
          <app-product-uploaded-file [files]="supportingDoc" *ngIf="supportingDoc.length"></app-product-uploaded-file>
        </ng-template>

      </p-fileUpload>
    </div>

    <div class="p-col-12">
      <hr/>
    </div>

    <div class="p-col-12">
      <h2 i18n="@@header.additional_information">Additional Information</h2>
    </div>

    <div class="p-col-12">
      <app-product-carton-info formGroupName="innerCarton"
                               i18n-labelText="@@label.section.inner_carton" labelText="Inner Carton"></app-product-carton-info>
    </div>

    <div class="p-col-12">
      <app-product-carton-info formGroupName="masterCarton"
                               i18n-labelText="@@label.section.master_carton" labelText="Master Carton"></app-product-carton-info>
    </div>

    <div class="p-col-12">
      <button pButton type="submit" class="ui-button-raised ui-button-rounded" i18n="@@label.button.save"
              label="Save"></button>
    </div>
  </div>
</form>
<p-dialog header="Title" [(visible)]="isLoading">
  <span>Submitting request...</span>
</p-dialog>
