<div [formGroup]="controlContainer.control" class="p-grid">
    <div class="p-col-12">
      <h3>{{labelText}}</h3>
    </div>
    <div class="p-col-3">
      <span class="ui-float-label" >
          <input pInputText type="number" formControlName="length"
                 autocomplete="off" (change)="updateVolume($event)">
          <label for="length" i18n="@@label.length">Length</label>
      </span>
    </div>
    <div class="p-col-3">
      <span class="ui-float-label">
          <input pInputText type="number" formControlName="width"
                 autocomplete="off" (change)="updateVolume($event)">
          <label for="length" i18n="@@label.width">Width</label>
      </span>
    </div>
    <div class="p-col-3">
      <span class="ui-float-label">
          <input pInputText type="number" formControlName="height"
                 autocomplete="off" (change)="updateVolume($event)">
          <label for="length" i18n="@@label.height">Height</label>
      </span>
    </div>
    <div class="p-col-3">
      <p-dropdown [options]="dimensionUnitOptions" formControlName="dimensionUnit"></p-dropdown>
    </div>
    <div class="p-col-3">
      <span i18n="label.volume">Volume : </span>
    </div>
    <div class="p-col-3">
      <input pInputText type="number" formControlName="volume"
             autocomplete="off">
    </div>
    <div class="p-col-6">
    </div>
    <div class="p-col-3 ">
      <span class="ui-float-label">
          <input pInputText type="number" formControlName="weight"
                 autocomplete="off" >
          <label for="weight" i18n="@@label.weight">Weight</label>
      </span>
    </div>
    <div class="p-col-3">
      <p-dropdown [options]="weightUnitOptions" formControlName="weightUnit"></p-dropdown>
    </div>
    <div class="p-col-6">
    </div>

    <div class="p-col-3 ">
      <span class="ui-float-label">
          <input pInputText type="number" formControlName="quantity"
                 autocomplete="off" >
          <label for="quantity" i18n="@@label.quantity">Quantity</label>
      </span>
    </div>
    <div class="p-col-3">
      <p-dropdown [options]="qtyUnitOptions" formControlName="quantityUnit"></p-dropdown>
    </div>
    <div class="p-col-6">
    </div>
</div>
